[[ -f .envrc.local ]] && . .envrc.local

watch_file .tool-versions

asdf_has editorconfig-checker || asdf plugin add editorconfig-checker
asdf_has jq || asdf plugin add jq
asdf_has shellcheck || asdf plugin add shellcheck
asdf_has shfmt || asdf plugin add shfmt

asdf install
use asdf
